<!DOCTYPE html>
<html>

<head>
    <title> Items</title>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="js/lb-services.js"></script>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="grid" ng-app="myItems" ng-controller="myItemsController">
        <h1>Item's List</h1>
        <div class="addItem">
            <input ng-model="newItem" placeholder="Add Item" class="addText">
            <button ng-click="pushItem()">Add</button>
        </div>
        <ul ng-repeat="i in items">
            {{i.name}}
            <span ng-click="deleteItem($index)">x</span>
        </ul>
    </div>


    <div class="main" ng-app="myItems" ng-controller="myItemsController">
        <h1>Staff List</h1>
        <div class="addItem">
            <input ng-model="newItem" placeholder="Add Item" class="addText">
            <button ng-click="pushItem()">Add</button>
        </div>
        <ul ng-repeat="i in items">
            {{i.first_name}}
            <span ng-click="deleteItem($index)">x</span>
        </ul>
    </div>

    <div class="grid" ng-app="myItems" ng-controller="myItemsController">
        <h1>Item's List</h1>
        <div class="addItem">
            <input ng-model="newItem" placeholder="Add Item" class="addText">
            <button ng-click="pushItem()">Add</button>
        </div>
        <ul ng-repeat="i in items">
            {{i.name}}
            <span ng-click="deleteItem($index)">x</span>
        </ul>
    </div>
    <div class="main2" ng-app="myItems" ng-controller="myItemsController2">
        <h1>Staff List</h1>
        <div class="addItem">
            <input ng-model="newItem" placeholder="Add Item" class="addText">
            <button ng-click="pushItem()">Add</button>
        </div>
        <ul ng-repeat="i in items">
            {{i.first_name}}
            <span ng-click="deleteItem($index)">x</span>
        </ul>
    </div>

    <script src="js/app.js"></script>
</body>

</html>