  
.main {
    border-style: solid;
    margin: 10%;
    background-color: bisque;
    width: 656px;
    width: 70%;
}

h1 {
    text-align: center;
    margin: 1%;
  font-weight: normal;
  font-size: 30px;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: lightgreen;
  
}
il span {
    cursor: pointer;
    position: relative;
    float: left;
    margin-right: 10px;
    padding-bottom: 0px;
    background-color: rgb(27, 141, 156);

}
ul {    
    font-size: 14px;
    text-align: left;
    /* border-style: solid; */
    margin-right: 65%;
    border-width: 1px;
    margin-left: 7px;
}

.addItem {
    position: center;
    padding-bottom:0px;
    height: 40px; 
    margin-left: 1%;
    /* width: 35%; */
    
}

.addText {
    width: 80%;
    height: 30px;
}

.addItem button {
    text-align: center;
    line-height: 17px;
    height: 32px;
    width: 32px;
    font-size: 15px;
    padding-left: 0px;
}
span {
    cursor: pointer;
    margin: 1%;
    padding-bottom: 0px;
    text-align: center;
    /* border: 1px; */
}

input{
    text-align: center;
}